@using Microsoft.AspNetCore.Mvc.TagHelpers
@using AnimalStudio.Web.ViewModels.Order
@using static AnimalStudio.Common.EntityValidationConstants.Order
@model AddOrderFormViewModel

@{
	ViewData["Title"] = "Buy order";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
	<h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<form asp-action="BuyOrder" method="post" enctype="multipart/form-data">
			
			<div class="row">
				<div class="col-sm-6 mb-2">
					<label asp-for="@Model.AnimalId" class="form-label-add-edit">Select Animal</label>
					<select asp-for="@Model.AnimalId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Animals, "Id", "Name"))">
						<option value="">Select Animal...</option>
					</select>
					<span asp-validation-for="@Model.AnimalId" class="text-danger"></span>
				</div>
				
				<div class="row">
					<div class="col-sm-6 mb-2">
						<label asp-for="@Model.ReservationDate" class="form-label-add-edit">Reservation Date</label>
						<input asp-for="@Model.ReservationDate" class="form-control" aria-required="true" value="@DateTime.Now.ToString(ReservationDateFormat)" />
						<span asp-validation-for="@Model.ReservationDate" class="text-danger"></span>
					</div>
				</div>

				<input type="hidden" name="id"/>
				<input type="hidden" name="ProcedureId" value="@Model.ProcedureId"/>
				<input type="hidden" name="UserId" value="@Model.UserId"/>

			</div>
			
			<div class="row">
				<div class="col-sm-6 mb-2">
					<button type="submit" class="btn btn-warning w-100 fw-bold rounded mt-2">Save</button>
					<a asp-controller="Procedure" asp-action="Index" class="btn btn-warning w-100 fw-bold rounded mt-2">Back</a>
				</div>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}