@using AnimalStudio.Web.ViewModels.Order
@model IEnumerable<OrderIndexViewModel>
@{
	ViewData["Title"] = "My Orders";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
	<h2>@ViewData["Title"]</h2>
</div>
<hr />

<table class="table table-striped">
	<thead>
		<tr>
			<th>Animal Name</th>
			<th>Procedure Name</th>
			<th>Price</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var order in Model)
		{
			<tr>
				<td>@order.AnimalName</td>
				<td>@order.ProcedureName</td>
				<td>@order.Price.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("bg-BG"))</td>
				<td><a asp-controller="Order" asp-action="RemoveOrder" asp-route-id="@order.AnimalName, @order.ProcedureName}" class="btn btn-danger d-flex justify-content-center align-items-center flex-fill mx-1" onclick="return confirm('Are you sure?');">Delete</a></td>
			</tr>
		}
	</tbody>
</table>

@* <div class="card-footer text-center">
	<div class="d-flex justify-content-between align-items-center">
		<a asp-controller="Order" asp-action="Index" class="btn btn-warning d-flex justify-content-center align-items-center flex-fill mx-1">Back</a>
		@if (User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.Owner)
		{
			<a asp-controller="Animal" asp-action="DeleteAnimal" asp-route-id="@Model.Id" class="btn btn-danger d-flex justify-content-center align-items-center flex-fill mx-1" onclick="return confirm('Are you sure you want to delete this animal?');">Delete</a>
		}
	</div>
</div>
 *@

