@using AnimalStudio.Web.ViewModels.Order
@model IEnumerable<OrderIndexViewModel>
@using static AnimalStudio.Common.ErrorMessages.Animal
@{
	ViewData["Title"] = "My Orders";
}
@if (TempData[nameof(AnimalIsInUse)] != null)
{
	<div class="alert alert-danger" role="alert">
		@TempData[nameof(AnimalIsInUse)]
	</div>
}


<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
	<h2>@ViewData["Title"]</h2>
</div>
<hr />

<table class="table table-striped">
	<thead>
		<tr>
			<th>Animal Name</th>
			<th>Procedure Name</th>
			<th>Price</th>
			<th>Action</th>
		</tr>

	</thead>
	<tbody>

		@foreach (var order in Model)
		{
			<tr>
				<td>@order.AnimalName</td>
				<td>@order.ProcedureName</td>
				<td>@order.Price.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("bg-BG"))</td>
				<td>
					<form method="post" enctype="multipart/form-data">

						<input type="hidden" name="AnimalName" value="@order.AnimalName" />
						<input type="hidden" name="ProcedureName" value="@order.ProcedureName" />

						<button asp-action="RemoveMyOrder" asp-route-AnimalName="@order.AnimalName" asp-route-ProcedureName="@order.ProcedureName" class=" btn btn-info ">Remove</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>
@if (!Model.Any())
{
	<p class="text-center text-muted">No procedures ordered!</p>
}


