@using Microsoft.AspNetCore.Mvc.TagHelpers
@using AnimalStudio.Web.ViewModels.Order
@model MakeOrderViewModel

@{
	ViewData["Title"] = "Make order";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
	<h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<form asp-action="MakeOrder" method="post" enctype="multipart/form-data">
			
			<div class="row">
				<div class="col-sm-6 mb-2">
					<label asp-for="@Model.AnimalId" class="form-label-add-edit">Select Animal</label>
					<select asp-for="@Model.AnimalId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.Animals, "Id", "Name"))">
						<option value="">Select Animal...</option>
					</select>

					<span asp-validation-for="@Model.AnimalId" class="text-danger"></span>
				</div>
				
				<input type="hidden" name="id"/>
				<input type="hidden" name="ProcedureId" value="@Model.ProcedureId"/>
				<input type="hidden" name="UserId" value="@Model.UserId"/>

			</div>
			
			<div class="mb-2">
				<input class="btn btn-warning btn-dark-text w-100 py-2 fw-bold rounded" type="submit" value="Save" />
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}