@using AnimalStudio.Services.Data.Interfaces
@using AnimalStudio.Web.Infrastructure.Extensions
@using AnimalStudio.Web.ViewModels.Worker
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WorkerDetailsViewModel
@inject IManagerService managerService

@{
	ViewData["Title"] = "Worker Details!";
}

<div class="text-center">
	<h2>More information about @Model.Name</h2>
</div>
<hr />

<div class="text-center">
	@if (!string.IsNullOrEmpty(Model.ImageUrl))
	{
		<img src="@Model.ImageUrl" class="img-fluid" style="width: auto; height: 250px;" alt="@Model.Name" />
	}
	else
	{
		<img src="~/img/no_image_available.png" class="img-fluid" style="max-width: 100%; height: auto;" alt="No Image Available" />
	}
</div>

<hr />

<div class="col-md-8">
	<div class="card-body">
		<p class="card-text">@Model.Description</p>
	</div>
</div>

<div class="text-center"><strong>Procedures by @Model.Name</strong> </div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var procedure in Model.Procedures)
		{
			<tr>
				<td>@procedure.Name</td>
				<td>@procedure.Price.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("bg-BG"))</td>
			</tr>
		}
	</tbody>
</table>

<div class="text-center mt-5">
	@if (await this.managerService.IsUserManagerAsync(this.User.GetUserId()))
	{
		<a asp-controller="Worker" asp-action="Manage" class="btn btn-secondary btn-dark-text mb-2 w-100 py-3 fw-bold rounded">
			<i class="bi bi-arrow-left-circle"></i> Back
		</a>
	}
	else
	{
		<a asp-controller="Worker" asp-action="Index" class="btn btn-secondary btn-dark-text mb-2 w-100 py-3 fw-bold rounded">
			<i class="bi bi-arrow-left-circle"></i> Back
		</a>
	}
</div>