@using AnimalStudio.Web.ViewModels.Worker
@model WorkerDetailsViewModel

@{
	ViewData["Title"] = "Worker Details!";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
	<h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="text-center">
	<h5 >Details for: @Model.Name</h5>
	@if (!string.IsNullOrEmpty(Model.ImageUrl))
	{
		<img src="@Model.ImageUrl" class="img-fluid" style="max-height: 250px; object-fit: contain;" alt="@Model.Name" />
	}
	else
	{
		<img src="~/img/no_image_available.png" class="img-fluid" style="max-width: 100%; height: auto;" alt="No Image Available" />
	}
</div>

<hr />

@if (User?.Identity?.IsAuthenticated ?? false)
{
	<div class="text"><strong>Worker Management</strong> </div>
	<a asp-controller="Worker" asp-action="EditWorker" asp-route-id="@Model.Id" class="btn btn-info d-inline">Edit</a>
	<a asp-controller="Worker" asp-action="DeleteWorker" asp-route-id="@Model.Id" class="btn btn-danger d-inline" onclick="return confirm('Are you sure you want to delete this worker?');">Delete</a>
	<hr />
	<hr />
}

<div class="text-center"><strong>Procedures by @Model.Name</strong> </div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var procedure in Model.Procedures)
		{
			<tr>
				<td>@procedure.Name</td>
				<td>@procedure.Price.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture("bg-BG"))</td>
			</tr>
		}
	</tbody>
</table>

<div class="row">
	<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
		<a asp-controller="Worker" asp-action="Index" class="btn btn-warning btn-dark-text mb-2 w-100 py-3 fw-bold rounded">Back</a>
	</div>
</div>
