@using AnimalStudio.Web.ViewModels.Procedure
@model ProcedureDetailsViewModel

@{
	ViewData["Title"] = "Procedure Details!";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
	<h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row justify-content-center" style="margin: 0 auto; max-width: 800px;">
	<div class="col-md-8">
		<div class="card-body">
			<h5 class="card-title">@Model.Name</h5>
			<hr />
			<h6 class="card-subtitle mb-2 text-muted">@Model.Price.ToString("C")</h6>
			<hr />
			<p class="card-text">@Model.Description</p>
			<hr />

			<div class="text-center"><strong>Assigned Workers for the procedure @Model.Name</strong> </div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
					@if (Model.Workers.Any())
					{
						@foreach (var worker in Model.Workers)
						{
							<tr>
								<td>@worker.Name</td>
							</tr>
						}
					}
					else
					{
						<tr>
							<td>
								<p>No workers for this procedure!</p>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>

		<div class="card-footer text-center">
			<div class="d-flex justify-content-between align-items-center">
				<a asp-controller="Procedure" asp-action="Index" class="btn btn-warning d-flex justify-content-center align-items-center flex-fill mx-1">Back</a>
			</div>
		</div>
	</div>
</div>