@using AnimalStudio.Services.Data.Interfaces
@using AnimalStudio.Web.Infrastructure.Extensions
@using AnimalStudio.Web.ViewModels.Animal
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AnimalDetailsViewModel
@inject IManagerService managerService

@{
    ViewData["Title"] = "Animal Details!";
}

<div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 20px;">
    <h2>@ViewData["Title"]</h2>
</div>
<hr />

<div class="row justify-content-center" style="margin: 0 auto; max-width: 800px;">
    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">Name: @Model.Name</h5>
            <hr />
            <h6 class="card-subtitle mb-2 text-muted">Animal Type: @Model.AnimalType</h6>
            <hr />
            <p class="card-text">Age: @Model.Age</p>
            <hr />
            <p class="card-text">Owner: @Model.Owner</p>
        </div>

        <div class="card-footer text-center">
            <div class="d-flex justify-content-between align-items-center">
                @if (await this.managerService.IsUserManagerAsync(this.User.GetUserId()))
                {
                    <a asp-controller="Animal" asp-action="Manage" class="btn btn-warning d-flex justify-content-center align-items-center flex-fill mx-1">Back</a>
                }
                else
                {
                    <a asp-controller="Animal" asp-action="MyIndex" class="btn btn-warning d-flex justify-content-center align-items-center flex-fill mx-1">Back</a>
                }
            </div>
        </div>
    </div>
</div>