@using AnimalStudio.Web.ViewModels.Animal
@model IEnumerable<AnimalDetailsViewModel>
@using static AnimalStudio.Common.ErrorMessages.Animal
@{
	ViewData["Title"] = "My animals";
}

@if (TempData[nameof(DuplicatedAnimal)] != null)
{
	<div class="alert alert-danger" role="alert">
		@TempData[nameof(DuplicatedAnimal)]
	</div>
}

@if (User?.Identity?.IsAuthenticated == true)
{
	<h2 class="my-4 text-center">@ViewData["Title"]</h2>

	<div class="d-flex justify-content-center mb-4">
		<a asp-controller="Animal" asp-action="AddAnimal" class="btn btn-success btn-sm me-2">
			<i class="bi bi-plus-circle"></i> Add New Animal
		</a>
	</div>
	<hr />

	<!-- Search Form -->
	<form asp-action="MyIndex" method="get" class="mb-4">
		<div class="input-group">
			<input type="text"
			       name="searchQuery"
			       class="form-control"
			       placeholder="Search by animal type..."
			       value="@ViewData["SearchQuery"]" />
			<button type="submit" class="btn btn-primary">Search</button>
		</div>
	</form>

	<table class="table table-hover table-bordered">
		<thead class="table-dark">
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Animal Type</th>
				<th scope="col" class="text-center">Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var animal in Model)
			{
				<tr>
					<td>@animal.Name</td>
					<td>@animal.AnimalType</td>
					<td class="text-center">
						<a asp-controller="Animal" asp-action="AnimalDetails" asp-route-id="@animal.Id" class="btn btn-primary btn-sm me-2">
							<i class="bi bi-pencil-square"></i> Details
						</a>

						<a asp-controller="Animal" asp-action="EditAnimal" asp-route-id="@animal.Id" class="btn btn-warning btn-sm me-2">
							<i class="bi bi-pencil-square"></i> Edit
						</a>

						<a asp-controller="Animal" asp-action="DeleteAnimal" asp-route-id="@animal.Id" class="btn btn-danger btn-sm me-2" onclick="return confirm('Are you sure you want to delete this animal?');">
							<i class="bi bi-trash"></i> Delete
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}